# Python
__pycache__/**
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
.venv/
venv/
env/

# Distribution
build/
dist/
*.egg-info/
.eggs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
logs/

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db